.App {
  text-align: center;
  margin-top:100px;
  margin-left:500px;
  padding:50px;
  background-color: black;
  height:350px;
  width:1050px;
}

.includetask{
  background-color: white;
  margin-top: 75px;
  margin-left: 100px;
  padding: 50px;
  height: 125px;
  width: 750px;
  margin-bottom: 50px;

}
.input{
  font-size: large;
}
.list{
  list-style:none;
  display:flex;
 
 align-items: center;
  justify-content: space-evenly;
  background-color: RGB(222 226 227);
  margin-bottom: 2px;
}